
<!DOCTYPE html>
<html>
<head>
<title>Education Schemes for Indian Citizens</title>
</head>
<body>
<h1>Education Schemes for Indian Citizens</h1>
<p>This website provides information about various education schemes that are available to Indian citizens based on their income levels. To view the schemes that you are eligible for, please enter your annual income below and click on the "View Schemes" button.</p>
<form action="/schemes" method="POST">
<label for="income">Annual Income:</label>
<input type="number" id="income" name="income">
<input type="submit" value="View Schemes">
</form>
</body>
</html>



